.callback
  &-container
    @include dfr()
    background-color: $purple
    margin-top: 100px
    border-radius: 10px
  &-wrapper
    padding-top: 92px
    padding-left: 115px
    padding-bottom: 102px
    max-width: 585px
    width: 100%
  &-title
    font-size: 35px
    line-height: 39px
    font-weight: 700
    color: #fff
    margin-bottom: 36px
    max-width: 408px
  &-text
    font-size: 14px
    line-height: 26px
    font-weight: 400
    color: #fff
    margin-bottom: 24px
    max-width: 340px
  &-form
    max-width: 408px
    .fake-checkbox
      margin-top: 40px
  &-img
    width: 100%
    position: relative
    img
      width: 610px
      height: auto
      object-fit: contain
      position: absolute
      bottom: 0
      left: calc(50% - 361px)
