.callback
  &-wrapper
    background-color: $purple
    padding-top: 90px
    padding-left: 115px
    padding-bottom: 100px
    border-radius: 10px
    margin-top: 100px
  &-title
    font-size: 35px
    line-height: 39px
    font-weight: 700
    color: #fff
    margin-bottom: 40px
    max-width: 408px
  &-text
    font-size: 14px
    line-height: 26px
    font-weight: 400
    color: #fff
    margin-bottom: 30px
  &-form
    max-width: 408px
  &-img
    width: 100%
    position: relative
    img
      width: 610px
      height: auto
      object-fit: contain
      position: absolute
      bottom: 0
      left: calc(50% - 305px)
