doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      include pages/card
    include components/footer
    include components/burger
    include components/popupCallback
    include components/popupQuestion
    include components/popupThanks
    include includes/__scripts