doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      include sections/banner
      include sections/services
      include sections/logos
      include sections/projectsSlider
      include sections/additional
      include sections/office
      include sections/reasons
      include sections/steps
      include sections/callback
    include components/footer
    include includes/__scripts