doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      include sections/banner
      include sections/services
      include sections/logos
      include sections/projectsSlider
    include includes/__scripts