section.card
  .container--inner
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Услуги и цены
        li.breadcrumbs-item
          a(href="") Интернет-магазин
    .page-title
      h1 Интернет-магазин
    .card-container
      .card-slider
        .swiper-wrapper
          .card-slide.swiper-slide
            img(src="", alt="alt")
        .card-btn.card-btn-prev
        .card-btn.card-btn-next
      .card-info
        p.card-info__top.common-text
        .card-detail
          .card-detail__top
            p.card-detail__price
            button.btn.btn-white Скрыть детализацию
            .wysiwyg
              ul
                li Лицензия <a href="">«Малый бизнес»</a> <b>35900 Р</b>
                li Лицензия решения <a href="">«Интернет-магазин»</a> <b>12100 Р</b>
                li Разворачивание решения и обучение <b>15000 Р</b>
                li Хостинг на 1 год в подарок, далее <b>12000 Р</b>
              h3 Также в стоимость включено
              ul
                li Дизайн с учетом сферы деятельности и корпоративного стиля заказчика.
                li Наполнение до 5 страниц.
                li Подбор оптимальных фраз для продвижения сайта и оценка стоимости продвижения.
                li Установка счетчика посетителей.
                li Регистрация и расчет стоимости контекстной рекламы в поисковых системах Yandex и Google.
                li Консультационная поддержка.
        .card-additional
          .wysiwyg
            h3 Что нужно для работы сайта
            ul
              li Лицензия на использование готового решения


              li Редакция 1С-Битрикс <a href="">«Малый бизнес»</a>, <a href="">«Бизнес»</a> или <a href="">«Интернет-магазин + CRM»</a>
              li Регистрация домена и установка сайта на хостинг
            h3 Дополнительные услуги
            ul
              li Базовая оптимизация <b>9000 Р</b>
              li Рекламная компания <b>от 15000 Р, рассчитывается отдельно</b>
        .card-banner
          p.card-banner__title
          p.card-banner__text.common-text
          .card-banner__btn
            button.btn.btn-purple Оставить заявку
            


