section.portfolio
  .container--inner
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Контакты
    .page-title
      h1 Портфолио
    .portfolio-container
      .tabs
        ul.tabs-list
          li.tabs-item.active
            span Все
          li.tabs-item
            span Корпоративный сайт
          li.tabs-item
            span Интернет-магазин
      ul.portfolio-list
        li.portfolio-item
          .portfolio-item__img
            img(src="img/portfolio/img.png", alt="alt")
          .portfolio-item__wrapper
            p.portfolio-item__name Приданое
            p.portfolio-item__desc.common-text Интернет-магазин постельного белья и текстиля для дома
            .tag Интернет-магазин
        li.portfolio-item
          .portfolio-item__img
            img(src="img/portfolio/img-1.png", alt="alt")
          .portfolio-item__wrapper
            p.portfolio-item__name Instrsales
            p.portfolio-item__desc.common-text  Интернет-магазин металлообрабатывающего инструмента
            .tag Интернет-магазин
        li.portfolio-item
          .portfolio-item__img
            img(src="img/portfolio/img-2.png", alt="alt")
          .portfolio-item__wrapper
            p.portfolio-item__name Крупномер
            p.portfolio-item__desc.common-text  Корпоративный сайт компании, занимающейся посадкой крупных деревьев
            .tag Корпоративный сайт
        li.portfolio-item
          .portfolio-item__img
            img(src="img/portfolio/img-3.png", alt="alt")
          .portfolio-item__wrapper
            p.portfolio-item__name Восток-Запад
            p.portfolio-item__desc.common-text  Интернет-магазин автомобильных шин и дисков
