section.reviews
  .container--inner
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Отзывы
    .page-title
      h1 Отзывы
    .reviews-container
      ul.reviews-list
        li.reviews-item
          .reviews-item__wrapper
            .reviews-item__top
              p.reviews-item__title ГПБ-факторинг
              a(href="").reviews-item__href.common-text
                span www.gpb-factoring.ru/conference2018/
            .reviews-item__text
              p ООО «ГПБ-факторинг» выражает искреннюю благодарность Вам и всему коллективу Интернет-агентства Dextra за высокое качество предоставленных услуг. Задачи, поставленные перед Агентством, были выполнены в сжатые сроки и с высокой степенью профессионализма.
              p Мы рады сотрудничеству с Интернет-агентством Dextra и желаем компании дальнейшего роста и процветания.
            .reviews-item__bottom
              p.reviews-item__name.common-text Алексей Иванов
              p.reviews-item__date.common-text 06.10.2020
          .reviews-item__img
            img(src="img/reviews/img.png", alt="alt")
        li.reviews-item
          .reviews-item__wrapper
            .reviews-item__top
              p.reviews-item__title Фикс-Прайс
            .reviews-item__text
              p Настоящим письмом ООО «Бэст Прайс» выражает благодарность Генеральному директору Интернет-агентства Dextra Батракову Дмитрию и его команде, реализовавшей разработку нового веб-сайта для бренда «Любосладово».
              p С уверенностью можем рекомендовать Интернет-агентство Dextra для оказания комплексных услуг по созданию, сопровождению и поддержке сайтов. Надеемся на дальнейшее сотрудничество и желаем успешного достижения новых вершин в бизнесе.
            .reviews-item__bottom
              p.reviews-item__name.common-text Петр Краснов
              p.reviews-item__date.common-text 06.10.2020
          .reviews-item__img
            img(src="img/reviews/img-1.png", alt="alt")
        li.reviews-item
          .reviews-item__wrapper
            .reviews-item__top
              p.reviews-item__title Эксперт-Лизинг
              a(href="").reviews-item__href.common-text
                span www.expert-leasing.ru
            .reviews-item__text
              p Выражаем искреннюю благодарность и уважение команде интернет-агентства Dextra за профессионализм и высокую степень ответственности в работе над нашим проектом.
              p Запуск современного представительного сайта для нас - важный основополагающий этап стратегии интернет—продвижения. Компания вышла на федеральный уровень. поэтому для нас было важно глубокое погружение разработчиков в особенности бизнеса и поиск наилучших, максимально эффективных решений. Что и было сделано.
              p В настоящий момент мы активно продолжаем сотрудничество с веб-студией по направлениям контекстной рекламы и СЕО-продвижения. Хочется отметить тщательный и профессиональный подход специалиста по контекстной рекламе Марии Булгаковой, а также внимательное отношение и готовность помочь в любых вопросах относительно digital маркетинга менеджера нашего проекта Светланы Савостиной.
            .reviews-item__bottom
              p.reviews-item__name.common-text Алексей Иванов
              p.reviews-item__date.common-text 06.10.2020
        li.reviews-item
          .reviews-item__wrapper
            .reviews-item__top
              p.reviews-item__title АО «Северная пригородная пассажирская компания»
              a(href="").reviews-item__href.common-text
                span www.sevppk.ru
            .reviews-item__text
              p Благодарим Интернет-агентство Dextra за новый сайт Северной пригородной пассажирской компании. Мы всецело удовлетворены результатом и взаимодействием с сотрудниками веб-студии.
              p Новый сайт, несомненно, стал удобнее для пользователей. Приятный современный дизайн, простота навигации и, главное, поиск информации о расписании поездов, — основные преимущества созданного проекта. Отдельно стоит отметить разработку интерактивной схемы нашего полигона.
              p Не менее значимым аспектом было удобство администрирования сайта — внесением информации могут заниматься разные сотрудники, а актуальность обновления данных для нас крайне важна. Поэтому особую благодарность также хочется выразить за доступную систему администрирования, обучение, проявленную инициативу и активную поддержку в процессе запуска и освоения проекта.
              p Желаем успехов и дальнейшей плодотворной работы!
            .reviews-item__bottom
              p.reviews-item__name.common-text Алексей Иванов
              p.reviews-item__date.common-text 06.10.2020
          .reviews-item__img
            img(src="img/reviews/img-2.png", alt="alt")
