section.services-page
  .container--inner
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Услуги и цены
    .page-title
      h1 Услуги и цены
    .services-container
      .tabs
        ul.tabs-list
          li.tabs-item.active
            span Все
          li.tabs-item
            span Корпоративный сайт
          li.tabs-item
            span Интернет-магазин
      ul.services-list
        li.services-item
          .services-item__wrapper
            a(href="").services-item__name Интернет-магазин
            p.services-item__desc.common-text Готовое универсальное решение интернет-магазина, позволяющее открыть online-направление для бизнеса любой сферы. Доступно в редакциях «1С-Битрикс: «Малый бизнес» и выше.
            ul.services-tags
              li.services-tags__item
                span Каталог товаров
              li.services-tags__item
                span Умный фильтр
              li.services-tags__item
                span Возможность заказа
              li.services-tags__item
                span Адаптивный дизайн
            p.services-item__price.common-h2 57 000 Р
          .services-item__img
            img(src="img/services/img.png", alt="alt")
        li.services-item
          .services-item__wrapper
            a(href="").services-item__name Корпоративный сайт с корзиной
            p.services-item__desc.common-text Решение для быстрого запуска корпоративного сайта с возможностью оформить заказ и полноценной мультирегиональностью. Доступно в редакциях «1С-Битрикс: «Старт» и выше.
            ul.services-tags
              li.services-tags__item
                span Каталог товаров
              li.services-tags__item
                span Умный фильтр
              li.services-tags__item
                span Возможность заказа
              li.services-tags__item
                span Адаптивный дизайн
            p.services-item__price.common-h2 57 000 Р
          .services-item__img
            img(src="img/services/img-1.png", alt="alt")
        li.services-item
          .services-item__wrapper
            a(href="").services-item__name Лендинг с корзиной и онлайн- оплатой
            p.services-item__desc.common-text Одностраничный сайт (лендинг пейдж), где можно ознакомиться с товаром в подразделах, положить необходимое количество в корзину, оформить заказ или выполнить онлайн-оплату. Доступно в редакциях «1С-Битрикс: «Старт» и выше.
            ul.services-tags
              li.services-tags__item
                span Каталог товаров
              li.services-tags__item
                span Умный фильтр
              li.services-tags__item
                span Адаптивный дизайн
            p.services-item__price.common-h2 57 000 Р
          .services-item__img
            img(src="img/services/img-2.png", alt="alt")
      .reviews-btn
        button.btn.btn-purple.js-bubble-hover
          span Показать еще