.form
  &-block
    width: 100%
    margin-bottom: 28px
    position: relative
  &-input
    width: 100%
    padding: 10px 2px 7px
    background-color: transparent
    border: none
    border-bottom: 1px solid #9060e1
    font-size: 14px
    line-height: 26px
    color: #fff
    transition: all 0.4s
    @media screen and ( max-width: 500px )
      font-size: 12px
      line-height: 20px
    &:focus
      + .form-label
        font-size: 12px
        top: -2px
    &.error
      border-bottom-color: #ff2626
  &-textarea
    width: 100%
    padding: 10px 2px 7px
    background-color: transparent
    border: none
    border-bottom: 1px solid #9060e1
    font-size: 14px
    line-height: 26px
    color: #fff
    transition: all 0.4s
    resize: none
    height: 44px
    @media screen and ( max-width: 500px )
      font-size: 12px
      line-height: 20px
    &:focus
      + .form-label
        font-size: 12px
        top: -2px
    &.error
      border-bottom-color: #ff2626
  &-label
    font-weight: 400
    color: #b78cfe
    position: absolute
    font-size: 14px
    top: 16px
    left: 2px
    transition: all 0.3s
    @media screen and ( max-width: 500px )
      font-size: 12px
      line-height: 20px
    &.anim
      font-size: 12px
      top: -2px
  &-button
    margin-top: 40px
  &-wrapper
    @include dfr()
    justify-content: space-between
    .form-block
      width: calc(50% - 15px)
.fake-checkbox
  @include dfr()
  align-items: center
  cursor: pointer
  input
    display: none
    &:checked
      + .fake-checkbox__box::before
        opacity: 1
    &.error
      + .fake-checkbox__box
        border-color: #ff2626
  &__box
    width: 26px
    min-width: 26px
    height: 26px
    min-height: 26px
    border-radius: 10px
    background-color: #fff
    margin-right: 10px
    position: relative
    border: 1px solid transparent
    transition: all 0.4s
    &::before
      content: ""
      width: 16px
      height: 12px
      background-image: url(/app/build/img/checkbox-arrow.png)
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      position: absolute
      top: calc(50% - 6px)
      left: calc(50% - 8px)
      opacity: 0
      transition: all 0.4s
  &__text
    font-size: 14px
    line-height: 26px
    color: #fff
    font-weight: 400
    transition: all 0.4s
    @media screen and ( max-width: 500px )
      font-size: 12px
      line-height: 20px
    a
      color: #fff
      border-bottom: 1px solid #976ae3
      &:hover
        border-bottom-color: transparent
