.header
  padding: 35px 0 30px
  &-container
    @include dfr()
    align-items: center
    justify-content: space-between
    padding: 0 60px

  &-wrapper
    @include dfr()
    align-items: baseline
    margin-bottom: 3px
  &-logo
    width: 213px
    height: auto
    img
      width: 100%
      height: auto
      object-fit: contain
  &-nav
    @include dfr()
    margin-right: 47px
    &__item
      margin-right: 33px
      &:last-child
        margin-right: 0px
      a
        font-size: 14px
        line-height: 18px
        font-weight: 400
        color: $black
        transition: all 0.4s
        &:hover
          color: $purple

  &-contacts
    a
      font-size: 18px
      font-weight: 500
      color: $black
      transition: all 0.4s
      &:hover
        color: $purple