section.additional
  .container--inner
    .additional-wrapper
      .section-left
        .section-title
          h2 Дополнительно
        p.section-text Помимо разработки сайтов мы готовы продвинуть их и привести в Ваш бизнес стабильный поток клиентов! Только проверенные инструменты с высокой эффективностью - наш принцип.
      .section-right
        ul.additional-list
          li.additional-list__item.additional-item.js-toggle-container
            .additional-item__icon
              img(src="img/services/icon.png", alt="alt")
            .additional-item__wrapper
              .additional-item__top
                a.additional-item__title.js-toggle-btn Базовая оптимизация
                p.additional-item__price 9000 Р
              .additional-item__bottom.js-toggle-bottom
                p.additional-item__text Помимо разработки сайтов мы готовы продвинуть их и привести в ваш бизнес стабильный поток клиентов! Только проверенные инструменты с высокой эффективностью - наш принцип.
          li.additional-list__item.additional-item.js-toggle-container
            .additional-item__icon
              img(src="img/services/icon-2.png", alt="alt")
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title.js-toggle-btn Рекламная кампания
                p.additional-item__price от 15000 Р
              .additional-item__bottom.js-toggle-bottom
                p.additional-item__text Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д.. Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д..
          li.additional-list__item.additional-item.js-toggle-container
            .additional-item__icon
              img(src="img/services/icon-3.png", alt="alt")
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title.js-toggle-btn Система анализа продвижениям
                p.additional-item__price 3000 Р / 12 мес
              .additional-item__bottom.js-toggle-bottom
                p.additional-item__text Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д.. Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д..


