section.banner
  .container
    .banner-container
      .banner-wrapper
        p.banner-title Готовый сайт от 32 000 рублей
        p.banner-text Внедрение готовых решений на 1С-Битрикс.
        .banner-btn
          button.btn.btn-purple.js-bubble-hover(type='submit')
            span Хочу сайт
      .banner-img
        img(src="img/banner-img.png", alt="alt")
      .banner-background
        .banner-background--1
        .banner-background--2
        .banner-background--3
