section.logos
  .container--inner
    .logos-container
      ul.logos-list.logos-list--1
        li.logos-item
          img(src="img/logos/1.png", alt="alt")
        li.logos-item
          img(src="img/logos/2.png", alt="alt")
        li.logos-item
          img(src="img/logos/3.png", alt="alt")
        li.logos-item
          img(src="img/logos/4.png", alt="alt")
        li.logos-item
          img(src="img/logos/5.png", alt="alt")
        li.logos-item
          img(src="img/logos/6.png", alt="alt")
      .logos-wrapper
        ul.logos-list.logos-list--2
          li.logos-item
            img(src="img/logos/7.png", alt="alt")
          li.logos-item
            img(src="img/logos/11.png", alt="alt")
        .logos-text
          p.logos-text__num 850+
          p.logos-text__desc проектов реализовано
        ul.logos-list.logos-list--3
          li.logos-item
            img(src="img/logos/8.png", alt="alt")
          li.logos-item
            img(src="img/logos/9.png", alt="alt")
          li.logos-item
            img(src="img/logos/10.png", alt="alt")
          li.logos-item
            img(src="img/logos/11.png", alt="alt")
          li.logos-item
            img(src="img/logos/12.png", alt="alt")
          li.logos-item
            img(src="img/logos/13.png", alt="alt")