section.office
  .office-slider
    .swiper-wrapper
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/1.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/2.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/3.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/1.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/2.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
      .office-slide.swiper-slide
        .office-slide__img
          img(src="img/office/3.jpg", alt="alt")
        .office-slide__wrapper
          .office-slide__title
            p.office-slide__num 25
            p.office-slide__text человек в&nbsp;коллективе
          p.office-slide__desc Над вашим проектом будут работать исключительно наши штатные дизайнеры, верстальщики, программисты, тестировщики и контент-менеджеры, что гарантирует минимальные сроки и высокое качество получаемого сайта.
          .office-slide__href
            a(href="").btn.btn-purple Подробнее о компании
    .office-btn.office-btn-prev
      img(src="img/office/prev.png", alt="alt")
    .office-btn.office-btn-next
      img(src="img/office/next.png", alt="alt")