section.reasons
  .container--inner
    .reasons-wrapper
      .reasons-title
        p.reasons-title__num 10
        p.reasons-title__text причин&nbsp;выбрать «Сайт&nbsp;выгодно»
      ul.reasons-list.reasons-list--top
        li.reasons-item
          .reasons-item__icon
            img(src="img/reasons/icon-1.png", alt="alt")
          p.reasons-item__name Цена и сроки
          p.reasons-item__text Готовый сайт от 15 000 рублей. Срок разработки – от 5 до 15 дней!
        li.reasons-item
          .reasons-item__icon
            img(src="img/reasons/icon-2.png", alt="alt")
          p.reasons-item__name Дизайн
          p.reasons-item__text Мы подготовим для вас удобный, современный дизайн.
    ul.reasons-list
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-3.png", alt="alt")
        p.reasons-item__name Верстка
        p.reasons-item__text Разработанные сайты корректно работают на всех компьютерах и мобильных устройствах.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-4.png", alt="alt")
        p.reasons-item__name Наполнение
        p.reasons-item__text Мы наполняем ваш сайт информацией. Тексты и изображения выглядят презентабельно.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-5.png", alt="alt")
        p.reasons-item__name Никаких ограничений
        p.reasons-item__text Полные права на редактирование информации на сайте.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-6.png", alt="alt")
        p.reasons-item__name Управление сайтом
        p.reasons-item__text Чтобы пользоваться сайтом, не нужно обучаться. Редактировать, добавлять и удалять информацию легче легкого.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-7.png", alt="alt")
        p.reasons-item__name Доменное имя
        p.reasons-item__text Вы являетесь полноправным владельцем своего сайта. Мы регистрируем доменное имя на Ваши реквизиты.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-8.png", alt="alt")
        p.reasons-item__name Поддержка
        p.reasons-item__text Вы всегда можете расчитывать на консультации, связанные с развитием вашего бизнеса в интернете.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-9.png", alt="alt")
        p.reasons-item__name Хостинг
        p.reasons-item__text Ваш сайт размещен на современном, мощном сервере.
      li.reasons-item
        .reasons-item__icon
          img(src="img/reasons/icon-10.png", alt="alt")
        p.reasons-item__name 19 лет опыта
        p.reasons-item__text Мы применяем только проверенные временем технологии, а наши процессы позволяют создать современный сайт точно в срок.