section.services-section
  .container--inner
    .services-wrapper
      .section-left
        .section-title
          h2 Что вы получите
        ul.text-list
          li.text-list__item
            p Дизайн с учетом сферы деятельности и корпоративного стиля заказчика.
          li.text-list__item
            p Наполнение до 5 страниц.
          li.text-list__item
            p Подбор оптимальных фраз для продвижения сайта и оценка стоимости продвижения.
          li.text-list__item
            p Установка счетчика посетителей.
          li.text-list__item
            p Регистрация и расчет стоимости контекстной рекламы в поисковых системах Yandex и Google.
          li.text-list__item
            p Консультационная поддержка.
      .section-right
        ul.services-list
          li.services-list__item.services-item
            .services-item__icon
              img(src="img/services/business-site.svg", alt="alt")
            .services-item__wrapper
              .services-item__top
                a(href="").services-item__title
                  span Корпоративный сайт
                p.services-item__price от 32000 Р
              .services-item__bottom
                ul.services-sublist
                  li.services-subitem
                    a(href="") База отдыха, санаторий, гостиница
                  li.services-subitem
                    a(href="") Строительная компания
                  li.services-subitem
                    a(href="") Образовательная компания, детский сад
                  li.services-subitem
                    a(href="") Digital-агентство
                  li.services-subitem
                    a(href="") Медицинская организация
                  li.services-subitem
                    a(href="") Медицинская организация
                  li.services-subitem
                    a(href="") Инжиниринг
                  li.services-subitem
                    a(href="") Ландшафт – благоустройство и проектирование
          li.services-list__item.services-item
            .services-item__icon
              img(src="img/services/eshop.svg", alt="alt")
            .services-item__wrapper
              .services-item__top
                a(href="").services-item__title
                  span Интернет-магазин
                p.services-item__price от 57000 Р
              .services-item__bottom
                p.services-item__text Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д.. Тут можно какое-то небольшое описание вывести. Какие есть функции и модули и т.д..

