section.additional
  .container--inner
    .additional-wrapper
      .section-left
        .section-title
          h2 Сделать сайт с нами - это очень просто!
        p.section-text Ускоренная схема разработки проекта не подразумевает подписание договора оказания услуг, работа осуществляется на основе счетов, но по вашему желанию мы можем подготовить и подписать официальный договор.
      .section-right
        ul.additional-list
          li.additional-list__item.additional-item
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title Шаг 1. Подготовка
                p.additional-item__price Предоплата 0%
              .additional-item__bottom
                p.additional-item__text Вы высылаете ваш логотип и информацию для заполнения сайта. Согласовываем проект структуры и оптимальное решение.
          li.additional-list__item.additional-item
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title Шаг 2. Дизайн / Стилизация
                p.additional-item__price Предоплата 50%
              .additional-item__bottom
                p.additional-item__text Вы высылаете ваш логотип и информацию для заполнения сайта. Согласовываем проект структуры и оптимальное решение.
          li.additional-list__item.additional-item
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title Шаг 3. Разработка
              .additional-item__bottom
                p.additional-item__text Вы высылаете ваш логотип и информацию для заполнения сайта. Согласовываем проект структуры и оптимальное решение.
          li.additional-list__item.additional-item
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title Шаг 4. Запуск
                p.additional-item__price Оплата 50%
              .additional-item__bottom
                p.additional-item__text Вы высылаете ваш логотип и информацию для заполнения сайта. Согласовываем проект структуры и оптимальное решение.
          li.additional-list__item.additional-item
            .additional-item__wrapper
              .additional-item__top
                a(href="").additional-item__title Шаг 5. Продвижение
              .additional-item__bottom
                p.additional-item__text Вы высылаете ваш логотип и информацию для заполнения сайта. Согласовываем проект структуры и оптимальное решение.


