.popup.popup-burger.js-popup(data-popup="burger")
  .popup-container
    .popup-overlay.js-overlay
    .popup-wrapper
      a(href="").header-logo
        img(src="img/logo.png", alt="alt")
      .header-wrapper
        ul.header-nav
          li.header-nav__item
            a(href="") Компания
          li.header-nav__item
            a(href="") Услуги и цены
          li.header-nav__item
            a(href="") Спецпредложения
          li.header-nav__item
            a(href="") Портфолио
          li.header-nav__item
            a(href="") Отзывы
          li.header-nav__item
            a(href="") Контакты
        .header-contacts
          a(href="tel:+73512114457") +7 351 211-44-57
      .popup-close.js-popup-close
        button
          img(src="img/popup-close.png", alt="alt")
