.popup.popup-portfolio.js-popup(data-popup="portfolio")
  .popup-container
    .popup-overlay.js-overlay
    .popup-wrapper
      .popup-portfolio__container
        .popup-portfolio__img
          img(src="img/portfolio/site.png", alt="alt")
        .popup-portfolio__wrapper
          p.popup-portfolio__name.common-h2 Крупномер
          a(href="").popup-portfolio__href.common-text www.krupnomer.com
          p.popup-portfolio__desc.common-text Компания «Крупномер» занимается посадкой крупных деревьев, позволяющей мгновенно менять внешний вид улиц и жилых домов. «Зеленый», экологичный дизайн сайта отлично отображает суть деятельности компании и её преимущества, за счет схематичных изображений оригинально решает задачу не сделать сайт о посадке деревьев однообразным. Внутри сайта реализованы раздел услуг и каталог, где клиент сайта может выбрать и заказать взрослые деревья, а заодно решить вопрос с их посадкой – быстро и удобно. Сайт разработан на типовом решении «1С–Битрикс».
          ul.popup-portfolio__characteristics.portfolio-characteristics
            li.portfolio-characteristics__item
              p.portfolio-characteristics__name.common-text Решение:
              a(href="").portfolio-characteristics__text.common-text
                span Корпоративный сайт с корзиной
            li.portfolio-characteristics__item
              p.portfolio-characteristics__name.common-text Лицензия Битрикс:
              a(href="").portfolio-characteristics__text.common-text
                span Малый бизнес
      .popup-close.js-popup-close
        button
          img(src="img/popup-close.png", alt="alt")
