.popup.popup-thanks.js-popup(data-popup="callback")
  .popup-container
    .popup-wrapper
      p.popup-title Сообщение отправлено
      p.popup-desc Ваше сообщение отправлено. Мы свяжемся с вами в ближайшее время по указанному номеру.
      .form-button
        button.btn.btn-purple.js-bubble-hover.js-popup-close
          span Закрыть
      .popup-close.js-popup-close
        button
          img(src="img/popup-close.png", alt="alt")
